@charset "utf-8";
/* CSS Document */

/*NavBar Code*/




.myNav {
	background: #FFFFFF!important;
}


.navbar-brand {
	font-size: 30px;
	font-weight: bold;
	  position: absolute;
    left: 50%;
    margin-left: -50px !important;  /* 50% of your logo width */
    display: block;
	
/*makes logo space*/
	}


.myNav a {
	margin-right: 40px;
	color: black !important;
	border-bottom: solid 1px transparent; 
	/*increases spacing between nav items, makes text white, border bottom is put here to remove the shaky effect it has without it*/
}
.myNav li a:hover {
	border-bottom: solid 1px black;
	/*adds line when hovered*/
}
.active a {
	border-bottom: solid 1px black; 
}
nav i:hover {
	opacity: 0.5;
}
nav input[type="search"] {
	padding: 0 0px!important;
	width: 0px!important;
}
nav i .icon.active {
	transition: all 0.3s ease;
}
nav input[type="search"].active {
	width: 250px!important;
	padding: 0 10px!important;
	transition: all 0.5s 0.2s ease!important; 
	
}



/*VIDEO CODE*/

.video-container {
  position: relative;
  width: 100%;
  min-height: 100vh; 
  overflow: hidden;
}
.video-container video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%; 
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;

  /* Center the video */
  
}

.caption {
	position: absolute;
	top: 38%;
	width: 100%;
	color: white;
	text-align: center;
}

.caption h1 {
	padding-bottom: 30px;
	padding-top: 50px;
}

.caption p {
	font-size: 15px;
}
.caption btn {
	padding-top: 25px;
	border-radius: 50%!important;
	font-size: 15px;
}
/*HOME PAGE CAROUSEL*/

.water{
	padding-top: 50px!important;
	padding-bottom: 50px!important;
}

.carousel .card-deck {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
		width: 85%;

}
.carousel .carousel-item .card img:hover{
	transform: scale(1.1);
}



/*SECTION WITH 3 IMAGES ON HOME PAGE*/
/* Three image containers (use 25% for four, and 50% for two, etc) */

.home1 {
	padding-top: 50px;
	text-align: center;
	padding-bottom: 50px;

}

.card {
	overflow: hidden;

}
.card img {
transform-origin: 50% 65%;
transition: transform 3s, filter 3s ease-in-out;

}
.card img:hover {
	transform: scale(1.2);

}

.middle {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
	font-size: 25px;
}
/*FOOTER*/
footer {
	background: rgb(248, 248, 248);
	padding: 25px;
	margin-top: 200px;
	bottom: 0;
	right: 0;
	left: 0;
	
}

.bottom {
  padding: 15px;
  font-size: 30px!important;
  width: 60px;
  text-align: center;
  text-decoration: none!important;
  margin: 23px 14px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998!important;
  color: white!important;
}
.fa-instagram {
  background: linear-gradient(to top right, #405DE6,#5851DB,#833AB4, #C13584, #E1306C, #FD1D1D );
  color: white!important;
}
.fa-linkedin {
  background: #007bb5!important;
  color: white!important;
}
.copy {
	margin-top: 42px;
}
.keep input {
	border: hidden;
	border-bottom: solid #000000;
    background: rgb(248, 248, 248);
    outline: none;
	padding-top: 42px;
}
.keep input[type="email"]::placeholder {  
                  
                /* Firefox, Chrome, Opera */ 
                text-align: center; 
            } 

/*PRODUCT PAGE*/
.product .col-6 img{
	max-height: 70%;
		max-width:100%;
	margin-top: 70px;	
}
.col-6 .information {
	margin-top: 200px!important;
}

.round {
	border-radius: 25px;
	font-size: 15px;
	margin-right: 5px;
	margin-left: 5px;
}
#changeText {
	margin-top: 25px;
	margin-left: 10px!important;
}
